*{
	margin:0;
	padding:0;
}

html, body{
<<<<<<< HEAD
	overflow: hidden;
=======
	overflow: hidden;	
>>>>>>> Alpha 0.10
}

section{
	background: #3f3f3f;
	margin:auto;
}

#main{
	border:3px solid black;
	background: white;
<<<<<<< HEAD
}
=======
}
>>>>>>> Alpha 0.10
